{{!-- addon/components/rdfa-editor-wikipedia-slug-card.js --}}
<div>
    {{#if this.isLoading}}
        <h1>Loading...</h1>
    {{else}}
        {{#if this.documents}}
            <h1>Please select documents to insert:</h1>
            <ul>
                {{#each this.documents as |document|}}
                    <li>
                        <input type="checkbox" checked={{document.isSelected}} {{on "click" (fn this.decisionDocumentClicked document)}}>
                        <label>{{document.name}}</label>
                    </li>
                {{/each}}
            </ul>
            <button {{on "click" this.updateDocumentsInDecisionSheet}}>{{if this.listRoot "Update" "Insert"}}</button>
        {{else}}
            <h1>No documents are found for this decision. Please upload documents via the "Documents" tab.</h1>
        {{/if}}
    {{/if}}
</div>